<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Hacker Tools</title>
    <!--FONT-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">       
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">  
        <link rel="icon" href="/static/img/img_favicon.jpg">

</head>

<body>
    <div class="bg-grid">
    </div>
    <div class="bg_green">
        <div class="container">

            <div class="top-bar">
                <div class="version">version : PreRelease 2.3</div>

                <a href="/HDIW" class="how_Does_It_Work">
                How Does It Work ??
                </a>
            </div>

            <header>
                <div class="logo">H4cker To0ls</div>
            </header>
            <div class="toggle" id="toggleID">
                <span class="toggle_label toggle_hash">
                    HCS
                </span>
                <span class="toggle_label toggle_pass">
                    PDTS
                </span>
                <div class="toggle_circle"></div>
            </div>
            <div class="SCU">
                <span class="punto1"></span>
                <span>SYSTEM STATUS: ONLINE
                <span class="punto1"></span>
                SERVER CONNECTION: SUCCESSFUL
                <span class="punto2"></span>
                FOR EDUCATIONAL PURPOSES ONLY</span> 
            </div>
            <section id="HashCrackerSystem" class="section_view active-section">
                <h1 class="h1_HashCracker-title">Hash Cracker System</h1>
                <div class="panel">
                    <div class="panel-title">
                        01 ║ ANALIZE HASH
                    </div>
                    <div class="inputhash_DIV">
                        <input type="text" placeholder="INSERT HERE HASH" class="inputhash" id="inputhash" autocomplete="off">
                    </div>
                    <div class="buttonhash_DIV">
                        <button class="btn" onclick="identifyHash()"> [ ANALIZE ] </button>
                        <button class="btn-red btn" onclick="resetAll()"> [ RESET ] </button>
                    </div>
                    <div id="identify-result">
                    </div>
                </div>
                <div id="crack-panel" style="display: none;" class="panel">
                    <div class="panel-title">
                        02 ║ DICTIONARY ATTACK
                    </div>
                    <div class="hash-meta" id="crack-meta"></div>
                    <div>
                    <div class="btn-row">
                        <button class="btn-launch" id="crack-btn" onclick="startCrack()">
                            [LAUNCH CRACK]
                        </button>
                        <button class="btn btn-red" id="stop-btn" onclick="stopCrack()" style="display: none;">
                            [STOP CRACK]
                        </button>
                    </div>
                    <div class="progress-wrap" id="progress-wrap">
                        <div class="progress-header">
                            <span id="progress-text">0/0</span><br />
                            <span id="speed-text">0 hash/s</span>
                        </div>
                        <div class="progress-bar-gr">
                            <div class="progress-bar-fill" id="progress-fill"></div>
                        </div>
                        <div class="start-row">
                            <div class="stat">
                                <strong id="stat-tried">0</strong> attempts
                            </div>
                            <div class="stat">
                                <strong id="stat-total">0</strong> total
                            </div>
                            <div class="stat">
                                <strong id="stat-elapsed">0</strong> elapsed
                            </div>
                            <div class="stat">
                                <strong id="stat-speed">0</strong> hash/s
                            </div>
                        </div>
                    </div>
                    <div id="found-banner">
                        <div class="found-label">
                            \\Password Found//
                        </div>
                        <div class="found-word" id="found-word"></div>
                    </div>
                    <div id="not-found-banner">
                        Hash Not Found, Try Again
                    </div>
                    <div id="terminal"></div>
                    <div id="crack-log" class="active"></div>
                    </div>
                </div>
            </section>
            <section id="PasswordDifficultySystem" class="hidden section_view">
                <h1 class="h1_PasswordDifficulty-title">Password Dyfficulty Tester System</h1>
                <div class="panel-password">
                    <div class="panel-title">
                        01 ║ ANALIZE PASSWORD
                    </div>
                    <div class="inputhash_DIV">
                        <input type="text" placeholder="INSERT THE PASSWORD" class="inputpassword" id="inputpassword" autocomplete="off">
                    </div>
                    <div id="identify-result">
                    </div>
                </div>
                <section id="results">
                <div id="security-panel" style="display: none;" class="panelpasssword">
                    <div class="panel-title">
                        02 ║ SECURITY TEST
                    </div>
                    <div class="security-result">

    <div class="security-symbol" id="security-symbol">0</div>

    <div class="security-info">
        <div class="security-level" id="security-level">CRITICA</div>

        <div class="security-bar">
            <div class="security-bar-fill" id="security-bar-fill"></div>
        </div>

        <div class="security-stats">
            <span>LENGTH: <strong id="pass-length">4</strong></span>
            <span>CHARSET: <strong id="pass-charset">26</strong></span>
            <span>ENTROPY: <strong id="pass-entropy">18.8 BIT</strong></span>
        </div>
    </div>

</div>
        <div class="grid-2">
            <div class="card"><div class="card-title">BRUTEFORCE ATTACK TIME</div><div class="scenario-list" id="scenario-list"></div></div>
            <div><div>ENTROPY AND COMBINATION</div><div class="entropy-big" id="entropy-big"></div></div>
        </div>
                
    
            </div>
            </section>
            </section>
        </div>
    </div>
    <script src="/static/css/script.js"></script>
</body>
</html>