:root {
    --green: #00ff41;
    --green-dim: #0ab334;
    --green-dark: #020d04;
    --green-glow: rgba(0,255,65,0.4);
    --green-scrivi: #09de3e;


    --red: #ff0000;
    --amber: #2aff00c7;
    --blue: #00ff66;
    --orange-btn: #ffb800;
    --bg: #020d04;
    --panel: #073118d8;
    --border: rgba(0,255,65,0.25);

    --font-display: "Orbitron", sans-serif;
    --font-tech: "Bruno Ace SC", sans-serif;
    --font-mono: "Share Tech Mono", monospace;
    --font-alt: "Audiowide", sans-serif;
    --sf-pro-medium: "SF DISPLAY PRO MEDIUM", sans-serif;
    --digi: "DS-DIGI", sans-serif;
}

@font-face {
  font-family: "SF DISPLAY PRO MEDIUM";
  src: url(/static/TXT/FONT/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: "DS-DIGI";
  src: url(/static/TXT/FONT/DS-DIGI.TTF);
}

.logo {
    font-family: var(--font-display);
    font-weight: 900;
    color: var(--green);
    font-size: 110px;
    text-align: center;
    text-shadow:
      0 0 10px var(--green-glow),
      0 0 30px var(--green-glow);
}

.logo2 {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--green);
  font-size: 110px;
  text-align: center;
  text-shadow:
    0 0 10px var(--green-glow),
    0 0 30px var(--green-glow);
}

body {
    background: var(--green-dark);
    font-family: "Orbitron", sans-serif;
    overflow-x: hidden;
    user-select:none;
}

::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: var(--green-dim); border-radius: 2px; }

.bg-grid {
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(0,255,65,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,65,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 0;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgba(0,0,0,0.12) 2px,
      rgba(0,0,0,0.12) 4px
    );
    pointer-events: none;
    z-index: 9999;
}

body::after {
    content: '';
    position: fixed;
    inset: 0;
    background: radial-gradient(ellipse at center, transparent 60%, rgba(0,0,0,0.6) 100%);
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2rem 1.5rem 4rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.version,
.how_Does_It_Work {
    color: #00ff4086;
    font-size: 25px;
    text-decoration: none;
}

.sub-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.sub-item {
    color: var(--green);
    font-size: 14px;
    text-shadow: 0 0 10px rgba(0,255,65,0.3);
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.h1_HashCracker-title ,
.h1_PasswordDifficulty-title {
    text-align: center;
    color: var(--green);
}

.big {
    font-size: 20px;
    font-weight: 700;
}

.panel {
    flex: 1;
}

.sub-item.big {
    color: var(--green);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0 0 10px var(--green-glow);
    text-align: center;
}

.sub-desc {
    margin-top: 8px;
    color: var(--amber);
    font-size: 21px;
    line-height: 1.8;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    text-align: center;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}



.toggle_circle {
  width: 180px;
  height: 52px;
  background: var(--blue);
  border-radius: 999px;
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
  box-shadow: 0 0 18px rgba(0, 255, 102, 0.8);
}

.toggle.active .toggle_pass {
  color: var(--green-dark);
}

.toggle.active .toggle_hash {
  color: var(--blue);
}

.toggle:not(.active) .toggle_hash {
  color: var(--green-dark);
}

.toggle:not(.active) .toggle_pass {
  color: var(--blue);
}


.toggle.active .toggle_circle {
  transform: translateX(180px);
}

.toggle {
  width: 360px;
  height: 52px;
  background: #111;
  border: 2px solid var(--blue);
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 255, 102, 0.35);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.toggle_label {
  position: absolute;
  top: 0;
  height: 52px;
  line-height: 52px;
  color: var(--blue);
  font-size: 20px;
  z-index: 100;
  pointer-events: none;
}

.toggle_hash {
  left: 65px;
}

.toggle_pass {
  right: 65px;
}

.button_back{
font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--green);
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.4), 0 0 30px rgba(0, 255, 65, 0.4);
    background-color: #034a19e4;
    border: 2px solid #0f511f;
}

.button_back:hover {
  animation:glitchanim 1ms infinite;
}

@keyframes glitchanim {
  0%,
  32.9%,
  66.1%,
  100% {
    transform: translateX(0);
  }
  33%,
  66% {
    transform: translateX(3px);
  }
}


.SCU {
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  /*user-select: none;*/
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-shadow:
    0 0 10px var(--green-glow),
    0 0 30px var(--green-glow);
  font-style: normal;
  color: var(--green);
  margin-top: 25px;
  margin-bottom: 50px;
}

.SCU span {
  display: inline-block;
}

.punto2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 6px red;
  margin-left: 10px;
}

.panel{
  background: var(--panel);
  border: 1px solid #03ff68f3;
  border-radius: 4px;
  padding: 2rem;
  margin: 1.5rem;
  backdrop-filter: blur(4px);
  animation: 0.6s 
  ease 0s 1 normal both running fadeIn;
}

.panel-title{
  font-size: 20px;
  margin-bottom: 1rem;
  color: #00ff40;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.panel-title::before{
  content:"//";
  color: red;
  
}

@keyframes fadeIn {
0% {
    opacity: 0;
    transform: translateY(10px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.punto1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3afa00;
  box-shadow: 0 0 6px green;
  margin-left: 10px;
}


#HashCrackerSystem,
#PasswordDifficultySystem {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.active-section {
  opacity: 1;
  transform: translateX(0);
  display: block;
}

.exit-right {
  opacity: 0;
  transform: translateX(40px);
  display: none;
}

.hidden {
    display: none;
}

.section_view {
  width: 100%;
  padding: 1.5rem;
}


.hash-enter {
  animation: hashEnter 0.1s ease forwards;
}

@keyframes hashEnter {
  from {
    opacity: 0;
    transform: translateX(-1200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hash-exit {
  animation: hashExit 0.1s ease forwards;
}

@keyframes hashExit {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(1200px);
  }
}

.pass-enter {
  animation: passEnter 0.1s ease forwards;
}

@keyframes passEnter {
  from {
    opacity: 0;
    transform: translateX(-1200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.pass-exit {
  animation: passExit 0.1s ease forwards;
}

@keyframes passExit {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(1200px);
  }
}

.inputhash {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: calc(100% - 2rem);
  background-color: rgba(0,255,65,0.04);
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 2px;
  font-size: 1.09rem;
  color: var(--green-scrivi) !important;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.inputhash::placeholder {
  color: #10c63e;
  letter-spacing: 1px !important;
}


.inputhash:focus {
  border-color: #00ff41 !important;
  outline: none;
  box-shadow: 0 0 0 1px var(--green), 0 0 15px rgba(0,255,65,0.15);
}

  .btn {
    font-family: var(--font-display);
    font-size: 12.5px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 1px solid var(--green);
    background: transparent;
    color: var(--green);
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.15s;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }

  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--green);
    transform: translateX(-100%);
    transition: transform 0.2s;
    z-index: -1;
  }

  .btn:hover::before { transform: translateX(0); }
  .btn:hover { color: var(--bg); box-shadow: 0 0 20px var(--green-glow); }
  .btn:active { transform: scale(0.97); }

  .btn.btn-red {
    border-color: var(--red);
    color: var(--red);
    margin-left: 10px;
    font-weight: bold;
  }
  .btn.btn-red::before { background: var(--red); }
  .btn.btn-red:hover { color: var(--bg); box-shadow: 0 0 20px rgba(255,45,85,0.4); }

  .btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  .btn:disabled::before { display: none; }

.hash-meta {
  color : var(--green-dim);
  border-left: 2px solid var(--border);
  margin-bottom: 10px;
  font-size: 17px;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
}

.hash-match {
  border: 1px solid var(--border);
  border-radius: 2px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  background: rgba(0,255,65,0.02);
  animation: slideIn 0.3s ease both;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.no-match {
  font-family: var(--font-display);
  font-size: 20px;
  margin-top: 15px;
  color: rgb(124, 9, 9) !important;
}

@keyframes slideIn {
    from { opacity:0; transform:translateX(-10px); }
    to   { opacity:1; transform:translateX(0); }
  }

.crack-btn-inline {
  border: 1px solid var(--orange-btn);
  font-family: var(--font-display);
  background: transparent;
  letter-spacing: 2px;
  color: var(--orange-btn);
  border-radius: 2px;
  padding: 0.25rem 0.7rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-style: bold;
}

.crack-btn-inline:hover {
  color: var(--bg);
  box-shadow: 0 0 15px rgba(255,184,0,0.4);
}

.crack-btn-inline::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--orange-btn);
    transform: translateX(-100%);
    transition: transform 0.2s;
    z-index: -1;
  }

  .crack-btn-inline:hover::before { transform: translateX(0); }

.badge {
  border: 1px solid currentColor;
  padding: 0.25rem 0.7rem;
  border-radius: 2px;
  letter-spacing: 2px;
  font-size: 13px;
  font-style: bold;
}

.match-name{
  font-family: var(--font-display);
  color: var(--green-dim);
  font-weight: 700;
  font-size: 17px;
}

.crack-btn-inline:active { transform: scale(0.97); }

.cs_PDTS {
    font-family: "SF-PRO DISPLAY_MEDIUM";
    background: linear-gradient(90deg, #0b1d51, #6a0dad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: 0.6s ease 0s 1 normal both running fadeIn;
    text-align: center;
    font-size: 50px;

    width: 100%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
    font-family: "SF-PRO DISPLAY_MEDIUM";
    src: url("/static/TXT/FONT/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

.btn-launch {
  font-family: var(--font-display);
  font-size: 12.5px;
  font-style: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid var(--green);
  background: transparent;
  color: var(--green);
  padding: 0.6rem 1.4rem;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.15s;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.progress-wrap {
  font-family: var(--digi);
  line-height: 30px;
  font-size: 25px;
  font-weight: 600;
  display: none;
}

#found-banner,
#not-found-banner {
  font-size: 28px;
  line-height: 30px;
  font-weight: bolder;
}

.progress-bar-fill {
  background: var(--green);
  height: 100%;
  width: 100%;
  border-radius: 2px;
  transition: width 0.3s;
  box-shadow: 0 0 8px var(--green);
}

.progress-bar-gr {
  height: 6px;
}

.start-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin-top: 10px;
}

.stat {
  color: var(--green-dim);
  display: flex;
  flex-direction: column;
}

.progress-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: #0f511f;
  font-family: var(--font-mono);
}

#found-banner {
  border: 2px solid var(--green);
  border-radius: 4px;
  box-shadow: rgba(0, 255, 65, 0.2) 0px 0px 30px, rgba(0, 255, 65, 0.03) 0px 0px 30px inset;
  background: rgba(0, 255, 65, 0.05);
  animation: 1.5s ease 0s infinite normal none running pulse;
  display: none;
  padding-bottom: 25px;
  margin-bottom: 25px;
  animation: 0.6s ease 0s 1 normal both running fadeIn;
  user-select: text;
}

#found-banner::selection {
    background: var(--green);
    color: black;
}

#found-banner::-moz-selection {
    background: var(--green);
    color: black;
}

#found-banner.active {
  display: block;
}

.progress-wrap.active {
  display: block;
}

.found-label {
  color: #00ff66;
  text-align: center;
  margin: 15px;
  margin-top: 25px;
}

.found-word {
  text-align: center;
  text-shadow: 0 0 20px var(--green);
  font-size: 3rem;
  color:#00ff40;
}

#not-found-banner {
  color: rgb(168, 5, 5);
  border: 1px solid rgb(168, 5, 5);
  border-radius: 4px;
  display: none;
  text-align: center;
}

#not-found-banner.active {
  display: block;
}

#terminal {
    background: black;
    color: #00ff41;
    font-family: monospace;
    padding: 15px;
    width: calc(100% - 4rem);
    height: 300px;
    overflow-y: auto;
    border: 2px solid #00ff41;
    box-shadow: 0 0 15px #00ff41;
    display: none;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 25px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 50px;
}

#terminal {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

#terminal.active {
    display: block;
}

.terminal-line {
    margin-bottom: 6px;
    text-shadow: 0 0 5px #00ff41;
}

.hash-type {
  color: whitesmoke;
}

.parole-totali-terminal {
  color: whitesmoke;
}

.password-found-terminal {
  color: whitesmoke;
}

.panel-password{
  background: var(--panel);
  border: 1px solid #03ff68f3;
  border-radius: 4px;
  padding: 2rem;
  padding-bottom: 50px;
  margin: 1.5rem;
  backdrop-filter: blur(4px);
  animation: 0.6s 
  ease 0s 1 normal both running fadeIn;
}

.inputpassword {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: calc(100% - 2rem);
  background-color: rgba(0,255,65,0.04);
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 2px;
  font-size: 1.09rem;
  color: var(--green-scrivi) !important;
  letter-spacing: 5px;
  margin-top: 20px;
}

.inputpassword::placeholder {
  color: #10c63e;
  letter-spacing: 1px !important;
}


.inputpassword:focus {
  border-color: #00ff41 !important;
  outline: none;
  box-shadow: 0 0 0 1px var(--green), 0 0 15px rgba(0,255,65,0.15);
}

.panelpasssword {
  background: var(--panel);
  border: 1px solid #03ff68f3;
  border-radius: 4px;
  padding: 2rem;
  margin: 1.5rem;
  backdrop-filter: blur(4px);
  animation: 0.6s 
  ease 0s 1 normal both running fadeIn;
}

.security-result {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    margin-top: 25px;
}

.security-symbol {
    font-family: var(--font-display);
    font-size: 72px;
    line-height: 1;
    color: #ff2b5f;
    text-shadow: 0 0 15px #ff2b5f;
    user-select: none;
    font-weight: 700;
}

.security-info {
    flex: 1;
}

.security-level {
    font-family: var(--font-display);
    font-size: 42px;
    color: #ff2b5f;
    letter-spacing: 3px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.security-bar {
    width: 100%;
    height: 3px;
    background: rgba(0,255,65,.15);
    margin-bottom: 12px;
}

.security-bar-fill {
    width: 12%;
    height: 100%;
    background: #ff2b5f;
    box-shadow: 0 0 10px #ff2b5f;
}

.security-stats {
    display: flex;
    gap: 30px;
    font-family: var(--font-mono);
    color: var(--green);
    font-size: 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  background-color: rgba(0, 255, 65, 0.25);
  border: 1px solid var(--border);
  border-radius: 4px;
}

.card-title {
  color: var(--green);
  border-bottom: 1px solid var(--border);
}

.scenario-list {
  display: flex;
  flex-direction: column;
}

.scenario-item {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid var(--border);
  align-items: center;
}

.scenario-name {
  color: var(--green);
}

.scenario-speed {
  color: var(--green-dim);
}

.scenario-time {
  font-weight: 700;
}

.security-panel.active {
  display: block;
}