<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>How Does It Work</title>
    <!--FONT-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    
    <link rel="icon" href="/static/img/img_favicon.jpg">
    </head>

<body>

<div class="bg_green">
    <div class="container">

        <header>
            <div class="logo">How It Works</div>
        </header>

        <div class="sub-bar">

            <!-- SINISTRA -->
            <div class="panel">

                <div class="sub-item big">
                    Hash Cracker Explanation
                </div>

                <div class="sub-desc">
                    To understand how a hash cracker works, first you need to insert your hash into the website. Once
you submit it, the site automatically analyzes the hash to determine which type it is
(for example MD5, SHA-1, or SHA-256). After identifying it, you select the first matching option 
suggested by the tool.

Next, the website saves your hash into a file so it can be processed later. This file is then passed
to a program called John the Ripper, which is a powerful password-cracking tool used to try and recover
the original password behind the hash.
Finally, after the process is completed, the tool returns the result. Here is your decrypted hash.
                </div>

            </div>

            <!-- DESTRA -->
            <div class="panel">

                <div class="sub-item big right">
                    Password Difficulty Explanation
                </div>

                <div class="sub-desc right">
                    Longer passwords increase entropy and make brute force attacks significantly harder.
                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>